.app-container {
  display: flex;
  width: auto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  height: 20px;
  margin: 0px;
  padding: 10px;
}

.map-container {
  position: relative;
  border: 5px solid red;
  height: 100%;
}

p {
  padding: 0px;
  margin: 0px;
}

button {
  padding: 0px;
  margin: 0px;
}